<div ng-include="'views/header.html'"></div>
<div ng-controller="HomeController">
	<div class="col-md-3 left-menu" ng-include="'views/side-nav.html'"></div>
	<div class="col-md-6">
		<h3>Welcome to Payee</h3>
		<p style="font-style:italic; font-size:20px;">Enjoy the money transfer services</p>
		<p style="font-size:15px;">It's the world first international payment account that helps to make and receive payment world-wide instantly without waiting to add beneficiary. </p>
		<p>Pay and receive amount in your country currency and transfer it to your added bank accounts</p>
	</div>
	<div class="col-md-3 right-showcase">
		<img src="images/home3.jpg">
		<img src="images/home4.jpg">
	</div>
	<div class="col-md-12">
		<div ng-include="'views/footer.html'"></div>
	</div>
</div>